.title{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.subtitle{
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
}

.heading{
  width: 640px;
  display: flex;
  justify-content: space-around;
  margin: 1%;
}