@font-face {
  font-family: DOS;
  src: url("./assets/Perfect\ DOS\ VGA\ 437\ Win.ttf");
  /* src: url("ModernDOS9x14.ttf"); */
}

body{
  text-align: center;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Game */
.main{
  display: grid;
  grid-template-columns: 1280px;
  grid-template-rows: 40px 640px 40px;
  overflow: hidden;
  background-color: #000000;
  font-family: DOS, sans-serif;
}

.menu{
  padding: 0 10%;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #A7A7A7;
  color: #000000;
}

.menuitem{
  padding: 0 1%;
  margin: 0;
}

.menuitem:hover{
  background-color: #000000;
  color: #A7A7A7;
}

.stats{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #000000;
  font-size: 32px;
  z-index: 1;
}

.le{
  margin: 0 2%;
  text-align: left;
}

.hpbar{
  height: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: 1;
}

.text{
  width: 60%;
  margin: 0;
  display: block;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
}

.text b {
  font-weight: bold;
}

#game{
  display: grid;
}

.game{
  grid-template-columns: repeat(40, 64px);
  grid-template-rows: repeat(40, 64px);
  font-size: 64px;
}

.game-title{
  grid-template-columns: repeat(40, 32px);
  grid-template-rows: repeat(40, 16px);
  font-size: 32px;
}

.square{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* lighting */
.lit{
  opacity: 0.9;
}
.dim{
  opacity: 0.6;
}
.dark{
  opacity: 0.0;
}

/* UI colours */
.rgb-grey{
  color: #A7A7A7;
}

.back-blue{
  background-color: #0100A6;
}
.back-yellow{
  background-color: #FFFE56;
}
.back-black{
  background-color: #000000;
}
.back-grey{
  background-color: #A7A7A7;
}

/* object and tile colours */
.player{
  color: #FFFFFF;
}
.floor{
  background-color: #323232;
}
.wall{
  color: #A7A7A7;
  background-color: #646464;
}
.monster{
  color: #0492C2;
}
.door{
  color: #916A2F;
  background-color: #452711;
}
.exit{
  color: #4CBB17;
}
.entry{
  color: #4CBB17;
}
.loot{
  color: #FFFE56;
}